<html>

<head>
  <title>R U M P U S</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/style.css" rel="stylesheet">
  <link href="../static/script.js" rel="script">
  
</head>

<body>
  <div class="header" id="top">
    <h1>R U M P U S!</h1>
    <p>the only news at Yale about things at Yale</p>
  </div> 
  
  <aside class="sidebar">
    <ul>
      <li> <a href="#section1">Countdown to Latest Issue</a> </li>
      <li> <a href="#section2">Latest Issue</a> </li>
      <li> <a href="#section3">Past Issues</a> </li>
    </ul>
  </aside>
  
  <div id="content">
    <div class = section id = section1>
      <h2>COUNTDOWN TO LATEST ISSUE:</h2>
      <div class="rumpus-countdown-wrap">
        <div id="countdown" class="rumpus-countdown">00d 00h 00m 00s</div>
      </div>
    </div>
    
    
    <div class = section id = section2> 
      <h2>LATEST ISSUE:</h2>
      <iframe src="https://online.fliphtml5.com/sesvj/zjfg/#p=1" width="100%" height="600px" style="border:none;"></iframe>
    </div>
    
    <div class = section id = section3>
      <h3> PAST ISSUES: </h3>
      <a href = "archive.html"> <img src="../static/past_issues.png" alt="Link to Past Issues" width="300" height="400"> </a>
    </div>
  </div>
  <div class="navbar">
    <a href="#top">top of page</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
  </div>
</body>

</html>